*{
    margin: 0;
    padding: 0;
}

#top{
    width: 100%;
    height: 500px;
    margin-left: 150px;
}

.members{
    width: 100%;
    height: 600px;
}

#you {
    margin-left: 150px;
}

#youpro{
    position: relative;
    margin-left: 350px;
    margin-top:  -150px;
}

#zin {
    float: right;
    margin-right: 150px;
    margin-top: 150px;
}

#zinpro{
    position: relative;
    margin-left: -300px;
    margin-top: -200px;
}