.kt_header-top{
    padding: 10px;
    background-color: #52B2CF;
    font-family: 'Caveat', cursive;
}
.kt_header-top h3{
    font-size: 40px;
}
.carousel-item{
    height: 550px;
}
.chat {
  width: 100%;
  margin-top: 100px;
  overflow: hidden;
  background-image: url("../images/grass-3253361_1280.jpg");
  height: 300px;
}

.chat .icon {
  float: left;
  text-align: center;
  width: 100px;
 
  padding-top: 50px;
}

.chat .icon img{
  width: 100%;
  height: auto;
  border: solid 3px black;
  border-radius: 50%;
  background-color: white;
  margin-left: 600px;
}

.chat .talk {
  width: 100%;
  padding-left: 630px;
}

.says {
  display: inline-block;
  position: absolute; 
  margin: 60px 0px 0px 105px;
  padding: 20px 15px;
  border-radius: 12px;
  background-color:#d7ebfe;
}
.says:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 18px; 
  left: -24px;
  border: 12px solid transparent;
  border-right: 13px solid #d7ebfe;
}
.says p {
  margin: auto;
}