.container {
    margin-top : 50px;
    margin-bottom: 50px;
}

.card {
    display: inline-block;
}

.IS-image {
    width: 250px;
    height: 250px;
    margin: 20px;
}

.jumpButton{
    width: 100%;
}